
.clearfix:after{
  content: " ";
  visibility:visible;
  display: block;
  height: 9px;
  clear: both;
}
.row{
  max-width: 1180px;
  margin:0 auto;
}





.table{
  margin-left:130px;
}
.search{
  margin-left: 60px;;
  margin-top:80px;
  margin-bottom: 10px;
  color: black;
  text-shadow:  #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;    
}
.tblheading{
  color: black;
  font-size: 1.3rem;
  text-align: left;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}
.tbldata{
  width:500px;
  height: 30px;
}
.tbldata1{
  width:500px;
  height: 70px;
}
.contact-page.submit{
  width:80px; 
  height: 30px;  
}
.contact-page.submit:hover{
  background-color:orange;
  color:white;
  font-size: 1rem;
}
.contact-page.main-content-header{
  border-top: 2px solid #fff;
}

.contact-page button {
  background-color:orange;
  color:white;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 90%;
}

.contact-page button:hover {
  background-color:rgb(199, 157, 80);
}

