
.dash-page h1{
margin-left: 430px;
margin-top: 100px;
margin-bottom: 20px;
font-size:1cm;

}
.dash-page h2{
margin-bottom: 1rem;
margin-left: 450px;
margin-top: 10px;
}

.main-content-header h1{
text-decoration: none;
color:black;   
text-shadow:  #ff0066 0px 0px 1px,   #ff0066 0px 0px 1px,   #ff0066 0px 0px 1px;
}
.main-content-header h1:hover{
text-decoration: none;
text-decoration: none;
color:yellow;   
text-shadow:  #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;

}

.main-content-header h2{
  text-decoration: none;
  color:black;   
  text-shadow:  #1d18be 0px 0px 1px,   #4000ff 0px 0px 1px,   #0011ff 0px 0px 1px;
  }
  .main-content-header h2:hover{
  text-decoration: none;
  text-decoration: none;
  color:rgb(111, 241, 76);   
  text-shadow:  #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
  
  }




