*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(signupimage.jpg);
    background-size: cover;
    background-position: center;
  
  }
  .wrapper{
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border: radius 10px;px;
    padding: 30px 40px;
  }
  .wrapper h1{
    font-size: 36px;
    text-align: center;
  }
  .wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background: transparent;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:black;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
    color:rgb(7, 7, 107);
    
    
  }
  .input-box i{
    position: absolute;
    right: 50px;
    top:32%;
    transform: translate(-50%);
    font-size: 20px;
    color:rgb(7, 7, 107);
    
  
  }
  
  .wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0  15px ;
  }
  .remember-forgot label input{
    accent-color:white;
    margin-right: 3px;
  
  }
  .remember-forgot label {
    color:rgb(7, 7, 107);
  
  }
  .remember-forgot a{
    color:rgb(7, 7, 107);
    text-decoration: none;
  
  }
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  .wrapper .btn{
    width: 100%;
    height: 45px;
    background:orange;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor:pointer;
    font-size: 16px;
    color:white;
    font-weight:bold;
  }
  .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px o 15px;
  
  }
  .register-link  a{
    color:rgb(7, 7, 107);
    text-decoration: none;
    font-weight: 600;
    
  }
  .register-link p {
    color:rgb(38, 38, 78);
    text-decoration: none;
    font-weight: 600;
    
  }
  
  .register-link p a:hover{
    text-decoration: underline;
    
  }